.weixin-bg{
    padding: 1rem 0 1rem;
    background-color: #F1F1F1;
}
.weixin-box{
    position: relative;
}
.weixin-box a{
    display: inline-block;
    width: 44px;
    height: 44px;
}
.weixin-box a img:first-child{
    position: absolute;
    opacity: 1;
}
.weixin-box a img:last-child{
    position: absolute;
    opacity: 0;
}
.weixin-box a:hover img:first-child{
    opacity: 0;
}
.weixin-box a:hover img:first-child{
    opacity: 1;
}